[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SCperf"]
	path = SCperf
	url = https://github.com/msmarchena/scperf
[submodule "bullwhipgame"]
	path = bullwhipgame
	url = https://github.com/msmarchena/bullwhipgame
